.rocket-card__container {
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-bottom: 100px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.rocket-card__info-row {
    width: 90%;
}

.rocket-card__info-col {
    margin-top: 40px;
}

.rocket-card__spaceship-image {
    position: absolute;
    display: block;
    z-index: 0;
}

.rocket-card__rocket {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% + 40px);
}

.rocket-card__dragon {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
}


/* Responsive Design */
@media only screen and (max-width: 1199px) {
    .rocket-card__rocket {
        right: 5%;
    }
    .rocket-card__dragon {
        height: 50%;
    }
}
@media only screen and (max-width: 991px) {
    .rocket-card__rocket{
        right: 15%;
    }
    .rocket-card__dragon {
        height: 80%;
    }
}
@media only screen and (max-width: 767px) {
    .rocket-card__dragon {
        right: -50px;
        height: 60%;
    }
}
@media only screen and (max-width: 600px) {
    .rocket-card__rocket {
        right: -20px;
    }
}
@media only screen and (max-width: 500px) {
    .rocket-card__rocket {
        right: -20px;
    }
    .rocket-card__dragon {
        right: -50px;
        height: 40%;
    }
}