/* Override AntDesign styles for tabbar */
.ant-tabs-bar {
    margin-bottom: 100px !important;
}
.ant-tabs-nav {
    height: 70px !important;
    display: flex;
}
.ant-tabs-tab {
    margin: 0 !important;
    padding: 0 !important;
    width: 50vw !important;
    height: 70px !important;
    text-align: center !important;
    line-height: 70px !important;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Orbitron', sans-serif !important;
    color: #0D1019 !important;
}
.ant-tabs-tab:hover {
    color: #EF6D00 !important;
}
.ant-tabs-ink-bar {
    background-color: #EF6D00 !important;
    width: 50vw !important;
}
.ant-tabs-tab-active {
    color: #EF6D00 !important;
    font-weight: 500 !important;
}
.ant-spin-dot-item {
    background-color: #EF6D00 !important;
}

.tabbar__loading-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}