.pop-up__container {
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(187,187,187,0.50);
    transform: translateY(65vh);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    padding: 50px 12%;
    overflow: hidden;
    z-index: 10000000;
}

.pop-up__close-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: calc(12% - 13px);
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
}

.pop-up__active {
    transform: translateY(0);
}

.pop-up__info-container {
    margin-top: 40px;
}

.pop-up__extra-info-container {
    margin-left: 50px;
}

.pop-up__spaceship-image {
    position: absolute;
}

.pop-up__rocket {
    width: 6%;
    right: 12%;
    bottom: 10px;
    margin-right: 60px;
}

.pop-up__dragon {
    height: 55%;
    right: 13%;
    bottom: 10%;
}

.pop-up__cross {
    width: 26px;
    height: 26px;
}

.pop-up__description-container {
    height: 30vh;
    overflow-y: scroll;
}


/* Responsive Design */
@media only screen and (max-width: 991px) {
    .pop-up__extra-info-container {
        display: none;
    }
    .pop-up__dragon {
        right: 1%;
        height: 50%;
    }
}
@media only screen and (max-width: 576px) {
    .pop-up__container {
        height: 90vh;
        transform: translateY(95vh);
    }
    .pop-up__active {
        transform: translateY(0);
    }
    .pop-up__extra-info-container {
        display: flex;
        margin: 0;
        margin-top: 30px;
        height: 20vh;
    }
    .pop-up__description-container {
        height: 40vh;
        overflow-y: scroll;
    }
    .pop-up__rocket {
        right: 10%;
        margin-right: 0;
        width: 10%;
    }
    .pop-up__info-container {
        margin-top: 25px;
    }
    .pop-up__dragon {
        right: 0;
        bottom: 10px;
        height: 30%;
    }
}
