.header__container {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/images/backgrounds/header-bg-min.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: #0D1829;
}

.header__top-container {
    width: 100%;
    padding: 50px 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo {
    height: 25px;
}

.header__title {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 12%;
}


/* Responsive Design */
@media only screen and (max-width: 800px) {
    .header-logo {
        height: 20px;
    }
    .header__top-container {
        padding: 30px 40px;
    }
}
@media only screen and (max-width: 500px) {
    .header__top-panel-info {
        display: none;
    }
}